*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    font-family: sans-serif;
}
:root{
    --card-front-backgroun: url(../assents/bg-card-front.png);
    --card-size-small-width: 286px;
    --card-size-large-width: 447px;
    --card-size-small-height: 157px;
    --card-size-large-height: 245px;
    --card-text-extrasmall: 0.5625rem;
    --card-text-small: 1.125rem;
    --card-text-color: white;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container{
    background-image: url(../assents/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 375px;
}

.digital-card{
    color: var(--card-text-color);
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    padding: 0.6rem;
    width: var(--card-size-small-width);
    height: var(--card-size-small-height);
}
.digital-card.front{
    position: relative;
    top: -36px;
    left: 17px;
    background-image: url(../assents/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.digital-card.front::before{
    content: "";
    position: relative;
    width: 54px;
    height: 30px;
    background-image: url(../assents/card-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.digital-card.back{
    position: relative;
    left: 73px;
    top: 32px;
    background-image: url(../assents/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.form {
    max-width: 375px;
    padding: 24px;
    box-sizing: border-box;
  }

.form-box {
    margin-bottom: 1.5rem;
  }
  
.form-label {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #21092F;
    text-transform: uppercase
  }

.form-input {
    height: 45px;
    width: 327px;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
    font-size: 1.125rem;
    color: #21092F;
    font-weight: 500;
    border-radius: 6px;
  }

.form-input-row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

.form-input-small {
    width: 72px;
    height: 45px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
  }

.form-input.cvcform{
    display: inline-block;
    height: 45px;
    width: 164px;
  }

.form-input.invalid {
    border: 1px solid  #FF5050;
    color: #FF5050;
  }
.error {
    color: #e74c3c;
    font-size: 0.875rem;
    margin-top: 6px;
    display: none;
  }
  
.error.show {
    display: block;
    justify-content: end;
  }
  
.button{
    color: var(--card-text-color);
    background-color:  #21092F;
    width: 327px;
    height: 53px;
    border-radius: 8px;
    border: none;
}